* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: beige;
    height: auto;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    text-align: center;
}

h1 {
    background-color: blue;
    color: white;
    font-size: 40px;
    margin-bottom: 5px;
}

.input {
    font-size: 25px;
}

input {
    width: 90%;
    border-radius: 5px;
    height: 25px;
}

.output {
    display: block;
    text-align: center;
}

button {
    background-color: purple;
    color: white;
    height: 30px;
    width: 150px;
    font-size: 20px;
    margin-left: 29%;
    margin-right: 50%;
    margin-top: 10px;
    border-radius: 10px;
}

.score {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 10px;
    display: block;
}

.ab {
    margin-left: 15px;
}

.msg {
    margin-left: 25px;
}